.Product__details-title{
    font-size: 2.5rem;
}

.Product__details-price{
    color: var(--primary-color);
}

.Product__details-desc{
    line-height: 1.7rem;
}


.Count__container{
    width: 100% !important;
    display: flex;
    
}
.Stock__container{

    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.Product__details-stock{
    color: black;
    font-weight: 500;
    vertical-align: middle;
}
.Count{
    width: 100%;
}

.Product__details-stock{
    width: 100%;
    
}


.AddtoCart__container{

    padding:0;
    margin: 0;
}

.AddtoCart{
    text-decoration: none;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    padding: 8px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
    transition: .25s all ease-in-out;
    text-transform: uppercase;
}

.AddtoCart:hover{
    border: 2px solid var(--primary-color);
    background: var(--secondary-color);
    color: var(--color-text-secondary);
}