.FormLogin{
    background: white;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 3px 12px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px -6px rgba(0,0,0,0.75);
}

.Form__input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Form__input > label{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    color: rgb(85, 85, 85);
}


.Form__input > input{
    padding-left: 7px;
    height: 40px;
    border: 1px solid rgb(182, 182, 182);
    outline: none !important;
    border-radius: 8px;
}

.Form__button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form__button > button{
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
    color: white;
    transition: .25s all ease-in-out;

}

.Form__button > button:hover{
    background: #6029ad;;
}

.Form__content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Form__content > p{
    font-size: 14px;
}
.Form__content > p > .Link{
    color: black;
    font-weight: 450;
}
