.fa-shopping-cart{
    color: rgb(228, 228, 228);
    font-size: 1.2rem;
}

.Cart{
    position: relative;
}

.Cart_count{
    position:absolute;
    bottom: 1rem;
    left: 1rem;
    background: #fff;
    height:15px;
    width:15px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: .7rem;
    font-weight: bold;
}

.Cart_count p{
    color: black;
}






