.fa-shopping-cart{
    color: white;
    font-size: 1.5em;
    margin-left: 5.1rem;
}
@media (min-width: 768px) {
    .fa-shopping-cart{
        margin-left: 0;
    }
}
@media (min-width: 992px){
    .fa-shopping-cart{
        margin-left: 0;
    }
}

@media (min-width: 1200px){
    .fa-shopping-cart{
        margin-left: 0;
    }
}

@media (min-width: 1400px){
    .fa-shopping-cart{
        margin-left: 0;
    }
}