.Navbar{
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 8vh;

    
}


.NavbarBrand{
    font-weight: bold;
    font-size: 1.5rem;
}


.dropdown-menu{
    background: transparent !important;
    border: none;
    color: var(--color-text) !important;
}
.dropdown-item.active, .dropdown-item:active {
    background: var(--primary-color) !important;
    color: white !important;
}
.NavDropdownHeader{
    color: white!important;
    font-weight: 500;
}
.NavDropdownItem{
    color: var(--color-text) !important;
    padding-left: 1.5rem !important;
}

/* Toogle */
.navbar-toggler{
    font-size: 1.2rem;
    border: none;
    padding-left: 0;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.Container__CartWdiget{
    position: relative;
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse{
    justify-content: flex-end;
}

.CartWidget__desktop{
    display: none;
}
.Button__logout{
    background: none;
    border: none;
    color: rgba(255,255,255,.55);
    margin-right: 15px;
    margin-left: 10px;
    transition: .25s all ease-in-out;
} 
.Button__logout:hover{
    color: white;
}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) { 
    .Container__CartWdiget{
        width: 70%;
    }

    .dropdown-item.active, .dropdown-item:active {
        background: white !important;
        color: black !important;
    }
    .Button__logout{
        text-align: left;
        margin-left: 0;
    } 

}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) { 
    
    .Container__CartWdiget{
        width: 56%;
    }
    .dropdown-item.active, .dropdown-item:active {
        background: white !important;
        color: black !important;
    }
    .Button__logout{
        text-align: left;
        margin-left: 0;
    } 

}
/* Móviles en vertical */
@media (max-width: 480px) { 
    .Container__CartWdiget{
        width: 34%;
    }
    .Button__logout{
        text-align: left;
        margin-left: 0;
    } 
}
/* EXTRA LARGE */
@media (min-width: 1200px) { 

    .dropdown-menu{
        background: var(--background-color-primary) !important;
    }
    .NavDropdownHeader{
        color: var(--color-text-secondary) !important;
    }
    .NavDropdownItem{
        color: var(--color-text-tertiary) !important;
        padding-left: 1.5rem !important;
    }
    .Container__CartWdiget{
        display: none;
    }
    .CartWidget__desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .NavDropdownHeader{
        color: rgb(0, 0, 0)!important;
        font-weight: 500;
    }
    
 }