@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  /* background: gray !important; */
  width: 100% !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


:root{
  --primary-color: #8338ec;
  --background-color-primary: #fff;
  --background-color-secondary: rgb(131, 131, 131);
  --secondary-color: #fff;
  --color-text: rgb(216, 216, 216);
  --color-text-secondary: black;
  --color-text-tertiary: rgb(88, 88, 88);
  --color-text-header: #fff;
  
}

.Link{
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 100%;
}

.fa-user, .fa-lock, .fa-envelope{
  margin-right: 8px;
}

/* Media queries */
/* Móviles en vertical */
@media (max-width: 480px) { }
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) { }

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {}
/* EXTRA LARGE */
@media (min-width: 1200px) { }